[submodule "wp-content/themes/cn-original"]
	path = wp-content/themes/cn-original
	url = git@github.com:cookingnutritious/cn-original_wp-theme.git
[submodule "wp-content/plugins/cn_wordpress-plugin"]
	path = wp-content/plugins/cn_wordpress-plugin
	url = git@github.com:cookingnutritious/cn_wordpress-plugin.git
